{
  "port":80,
  "dataEncryptionKey": "32 character AES key goes here!!",
  "exampleEncryptionKey": "32 character AES key goes here!!",
  "userDataFile":"users.dat",
  "studyDataFile":"study.dat",
  "fileEncoding":"utf8",
  "studyCookieName":"ironMan2Study",
  "cookieEncryptionKey":"32 character AES key goes here!!"
}